@model IEnumerable<Budgeter.Models.Household>

@{
    ViewBag.Title = "My Households";
}

<h2>My Households HOME</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Users
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Households", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @foreach (var user in item.Users)
                {
                    @user.DisplayName
                    <br/>
                }
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", "Households", new { id = item.Id }, new { }) |
                @Html.ActionLink("Details", "Details", "Households", new { id = item.Id }, new { }) |
                @Html.ActionLink("Invite", "Create", "Invites", new { id = item.Id }, new { })
            </td>
        </tr>
    }

</table>
