@model IEnumerable<Budgeter.Models.Household>
@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "My Households";
    string userId = User.Identity.GetUserId();
    bool flag = false;
}

<h2>My Households HOME</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Households")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Users
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        foreach (var user in item.Users)
        {
            if (user.Id == userId)
            {
                flag = true;
            }
        }
        if (flag)
        {

        <tr>
            <td>
                @*<a href="@Url.Action("Household", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>*@
                <a href="@Url.Action("Edit", "Households", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @foreach (var user in item.Users)
                {
                    @user.DisplayName
                    <br/>
                }
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>*@
            @*<td>
                @Html.ActionLink("Edit", "Edit", "Households", new { id = item.Id }, new { }) |
                @Html.ActionLink("Details", "Details", "Households", new { id = item.Id }, new { }) |
                @Html.ActionLink("Invite", "Create", "Invites", new { id = item.Id }, new { })
            </td>*@
        </tr>
            flag = false;
        }
    }

</table>