@model Budgeter.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Date & Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Paid to
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payee)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Catagory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catagory.Name)
        </dd>

        <dt>
            Bank Account
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.Name)
        </dd>

        <dt>
            Entered by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredById)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Transactions", routeValues: new { householdId = Model.Id, transactionId = Model.Id }, htmlAttributes: "") |
    @Html.ActionLink(linkText: "Back to List", actionName: "Details", controllerName: "Households", routeValues: new { id = ViewBag.HouseholdId }, htmlAttributes: "")
</p>
