@model Budgeter.Models.Transaction

@{
    ViewBag.Title = "Edit Transaction";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="well well-lg well-topspace">
            <h3 class="text-center">Edit a Transaction</h3>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.EnteredBy)
                @Html.HiddenFor(model => model.TypeId)
                <input type="hidden" name="originalAmount" value="@ViewBag.OriginalAmount" />
                <input type="hidden" name="originalAccountId" value="@ViewBag.OriginalAccountId" />

                <div class="form-group login-form">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control login-textbox" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group login-form">
                    @Html.DropDownList("BankAccountId", null, htmlAttributes: new { @class = "form-control login-textbox" })
                    @Html.ValidationMessageFor(model => model.BankAccountId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group login-form">
                    @Html.EditorFor(model => model.Payee, new { htmlAttributes = new { @class = "form-control login-textbox" } })
                    @Html.ValidationMessageFor(model => model.Payee, "", new { @class = "text-danger" })
                </div>
                <div class="form-group login-form">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control login-textbox" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group login-form">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control login-textbox" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    <div class="col-sm-offset-4 col-sm-8">
                        @Html.CheckBoxFor(model => model.Deleted)
                        <label>Void Transaction</label>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-default" /><span class="divider"> | </span>
                    @Html.ActionLink("Cancel", "Details", "Households", new { id = ViewBag.HouseholdId }, new { })
                </div>
            }
        </div>
    </div>
</div>
