@model Bug_Tracker.Models.Attachment

@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete this attachment?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            File Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDisplayName)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Uploaded by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorUser.DisplayName)
        </dd>

        <dt>
            On Ticket
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>

        <dt>
            Uploaded on
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            File url
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileUrl)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <ul class="list-inline">
                    <li>
                        <a href="@Url.Action("Edit", "Tickets",  new { id = Model.TicketId })" class="btn btn-warning"> <i class="fa fa-ban"></i> Cancel</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
