@model IEnumerable<Bug_Tracker.Models.UserListViewModel>

@{
    ViewBag.Title = "Manage Users";
}

@if (User.IsInRole("Admin"))
{
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Users
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-users">
                        <thead>
                            <tr>
                                <th class="col-sm-3">Last Name <i class="fa fa-sort"></i></th>
                                <th class="col-sm-3">First Name <i class="fa fa-sort"></i></th>
                                <th class="col-sm-3">User Name <i class="fa fa-sort"></i></th>
                                <th class="col-sm-3">Job Title <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.OrderBy(t => t.User.LastName))
                                {
                                    <tr>
                                        <td class="col-sm-3">
                                            <a href="@Url.Action("UserRoles", "Manage", new { id = item.User.Id })">@Html.DisplayFor(modelItem => item.User.LastName)</a>
                                        </td>
                                        <td class="col-sm-3">
                                            <a href="@Url.Action("UserRoles", "Manage", new { id = item.User.Id })">@Html.DisplayFor(modelItem => item.User.FirstName)</a>
                                        </td>
                                        <td class="col-sm-3">
                                            <a href="@Url.Action("UserRoles", "Manage", new { id = item.User.Id })">@Html.DisplayFor(modelItem => item.User.DisplayName)</a>
                                        </td>
                                        <td class="col-sm-3">
                                            @foreach (var role in item.Roles)
                                            {
                                                @role
                                                <br />
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}

<script src="~/Template/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="~/Template/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="~/assets/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="~/Template/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="~/Template/assets/js/dataTables/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-users').dataTable();
    });
</script>
<!-- Custom Js -->
<script src="~/Template/assets/js/custom-scripts.js"></script>