@model Bug_Tracker.Models.Project

@{
    ViewBag.Title = "Delete Project";
}

<h3><i>@Html.DisplayFor(model => model.Title)</i> cannot be archived because it has open tickets.</h3>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Please resolve all open tickets before removing the project:
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-deleteTicks">
                        <thead>
                            <tr>
                                <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                <th class="col-sm-3">Description <i class="fa fa-sort"></i></th>
                                <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                <th class="col-sm-1">Status <i class="fa fa-sort"></i></th>
                                <th class="col-sm-1">Priority <i class="fa fa-sort"></i></th>
                                <th class="col-sm-2">Project <i class="fa fa-sort"></i></th>
                                <th class="col-sm-2">Assigned to <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model.Tickets)
                                {
                                    <tr>
                                        <td class="col-sm-2">
                                            <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                        </td>
                                        <td class="col-sm-3">
                                            @Html.DisplayFor(modelItem => item.Body)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.DisplayFor(modelItem => item.Status.Name)
                                        </td>
                                        <td class="col-sm-1">
                                            @Html.DisplayFor(modelItem => item.Priority.Name)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.DisplayFor(modelItem => item.Project.Title)
                                        </td>
                                        <td class="col-sm-2">
                                            @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary"> <i class="fa fa-arrow-left"></i> Back</a>

<script src="~/Template/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="~/Template/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="~/assets/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="~/Template/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="~/Template/assets/js/dataTables/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-deleteTicks').dataTable();
    });
</script>
<!-- Custom Js -->
<script src="~/Template/assets/js/custom-scripts.js"></script>