@model Bug_Tracker.Models.DashboardViewModel

@{
    ViewBag.Title = "Project Index";
}

    @if ((User.IsInRole("Admin")) || User.IsInRole("Project Manager"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        All Projects | @Html.ActionLink("Create a New Project", "Create", "Projects")
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-allProj">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-4">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AllProjects.OrderBy(p => p.Title))
                                    {
                                        if (item.Deleted == false)
                                        {
                                            <tr>
                                                <td class="col-sm-2">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="col-sm-4">
                                                    @Html.DisplayFor(modelItem => item.Body)
                                                </td>
                                                <td class="col-sm-1">
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var tickets in item.Tickets)
                                                    {
                                                        @tickets.Title
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var projectUser in item.Users)
                                                    {
                                                        @projectUser.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-1">
                                                    <div>
                                                        @if (User.IsInRole("Submitter"))
                                                        {
                                                            <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-success"><i class="fa fa-bug"></i> Ticket</a>
                                                        }
                                                        <a href='@Url.Action("Assign", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-primary"><i class="fa fa-user"></i> Assign</a>
                                                        <a href='@Url.Action("Edit", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                                                        <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-info"><i class="fa fa-info"></i> Details</a>
                                                        <a href='@Url.Action("Delete", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-danger"><i class="fa fa-trash"></i> Archive</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Submitter") && (!User.IsInRole("Admin") && !User.IsInRole("Project Manager")))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Projects Assigned to @User.Identity.Name
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-subProj">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-4">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
                                    {
                                        if (item.Deleted == false)
                                        {
                                            <tr>
                                                <td class="col-sm-2">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="col-sm-4">
                                                    @Html.DisplayFor(modelItem => item.Body)
                                                </td>
                                                <td class="col-sm-1">
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var tickets in item.Tickets)
                                                    {
                                                        @tickets.Title
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var projectUser in item.Users)
                                                    {
                                                        @projectUser.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-1">
                                                    <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-success"><i class="fa fa-bug"></i> Ticket</a>
                                                    <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-stack btn-info"><i class="fa fa-info"></i> Details</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @if (User.IsInRole("Developer") && (!User.IsInRole("Admin") && !User.IsInRole("Project Manager")))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Projects Assigned to @User.Identity.Name
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-devProj">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-5">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
                                    {
                                        if (item.Deleted == false)
                                        {
                                            <tr>
                                                <td class="col-sm-2 click">
                                                    <a href="@Url.Action("Details", "Projects", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                                </td>
                                                <td class="col-sm-5">
                                                    @Html.DisplayFor(modelItem => item.Body)
                                                </td>
                                                <td class="col-sm-1">
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var tickets in item.Tickets)
                                                    {
                                                        @tickets.Title
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var projectUser in item.Users)
                                                    {
                                                        @projectUser.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

<script src="Template/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="Template/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="Template/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="Template/assets/js/dataTables/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-allProj').dataTable();
    });
    $(document).ready(function () {
        $('#dataTables-subProj').dataTable();
    });
    $(document).ready(function () {
        $('#dataTables-devProj').dataTable();
    });
</script>
<!-- Custom Js -->
<script src="Template/assets/js/custom-scripts.js"></script>