@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Logged in as: " + User.Identity.GetUserName(), "ManageAccount", "Account", routeValues: null, htmlAttributes: new { title = "Manage Account" })
        </li>
        @*<li>
            <a href="@Url.Action("ManageAccount", "Account")"><i class="fa fa-gear fa-fw"></i> Account Settings</a>
        </li>*@
        <li class="divider"></li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><span><i class="fa fa-sign-out"></i> Logout</span></a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account")"><span><i class="fa fa-user-plus"></i> Register</span></a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")"><span><i class="fa fa-sign-in"></i> Log in</span></a>
        </li>
    </ul>
}
