@using PagedList;
@using PagedList.Mvc;
@*@model IEnumerable<Personal_MVC_site.Models.BlogPost>*@
@model IPagedList<Personal_MVC_site.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}

    <!-- Intro Header -->
@*<header class="intro-blog" id="page-top">
    <div class="intro-body-smaller">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="brand-heading">Sam Gray</h1>
                    <p class="intro-text">The road to becoming a developer.</p>
                </div>
            </div>
        </div>
    </div>
</header>*@

<div class="container">
    <div class="text-center">
        <h2 class="text-center topspace">Blog Posts</h2>
        <a href='@Url.Action("Create")' class="btn btn-default">Create New Post</a>
    </div>
    <br />
    <br />
    <table class="table">
        <tr>
            <th class="col-md-1">
                @*@Html.DisplayNameFor(model => model.Created)*@
                Created
            </th>
            <th class="col-md-1">
                @*@Html.DisplayNameFor(model => model.Updated)*@
                Updated
            </th>
            <th class="col-md-2">
                @*@Html.DisplayNameFor(model => model.Title)*@
                Title
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>*@
            <th class="col-md-5">
                @*@Html.DisplayNameFor(model => model.Body)*@
                Body
            </th>
            <th class="col-md-2">
                @*@Html.DisplayNameFor(model => model.MediaURL)*@
                Image
            </th>
            <th class="col-md-1">
                @*@Html.DisplayNameFor(model => model.Published)*@
                Published
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>*@
                <td>
                    <div class="scroll-box">
                        @*@Html.DisplayFor(modelItem => item.Body)*@
                        @Html.Raw(item.Body)
                    </div>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.MediaURL)*@
                    @if (item.MediaURL != null)
                    {
                        <img class="img-responsive" src="@item.MediaURL" alt="" style="height: 110px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { slug = item.Slug })
                    @Html.ActionLink("Details", "Details", new { slug = item.Slug })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
