@using PagedList;
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;

@*@model IEnumerable<Personal_MVC_site.Models.BlogPost>*@
@model IPagedList<Personal_MVC_site.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
}

@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<html>
<body>

    <!-- Intro Header -->
    <header class="intro-blog" id="page-top">
        <div class="intro-body-smaller">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="brand-heading">Sam Gray</h1>
                        <p class="intro-text">The road to becoming a developer.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Search -->
    <div class="container portfolio-content">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline">
                    <li>
                        @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                        {
                            <div class="controls controls-row search-row">
                                <input id="searchStr" name="searchStr" class="input-sm" type="text" placeholder="Search" />
                                <button id="searchStr" name="searchStr" class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        }
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <a href='@Url.Action("IndexAdmin")#contact' class="btn btn-default"><i class="fa fa-list-ul"></i> Admin</a>
                            }
                        }
                    </li>
                </ul>
            </div>
            <div class="col-md-8 text-right blog-welcome-login">
                @if (Request.IsAuthenticated)
                {
                    <p class="lower-blog-head">Welcome: @User.Identity.Name</p>
                }
                else
                {
                    <a href='@Url.Action("Login", "Account")' class="lower-blog-head-login">Welcome guest. Please <strong>log in</strong> if you would like to comment.</a>
                }
            </div>
        </div>
        <hr />
    </div>

    <!-- Blog Section -->
    <section class="container content-section text-center portfolio-content">
        @{
            foreach (var blogPost in Model)
            {
                <div class="row">
                    <div class="col-md-1 col-md-offset-1 post-info">
                        <div>
                            <img src="~/img/Profile.jpg" id="profile-pic" height="80" alt="Sam's Picture" />
                        </div>
                        <br />
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <div class="text-right">
                                    @Html.ActionLink("Edit", "Edit", new { slug = blogPost.Slug })
                                    @Html.ActionLink("Details", "DetailsAdmin", new { slug = blogPost.Slug })
                                    @Html.ActionLink("Delete", "Delete", new { id = blogPost.Id })
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-9 blog-block">
                        <a href='@Url.Action("Details", new { slug = blogPost.Slug })' class="blog-hov">
                            <div class="row">
                                <div class="col-sm-12 post-head">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="~/img/Profile.jpg" id="sm-profile-pic" height="60" alt="Sam's Picture" />
                                            <h2 class="text-left">@Html.DisplayFor(modelBlogPost => blogPost.Title)</h2>
                                        </div>
                                        <div class="col-sm-6 text-right scroll-box-blog blog-created">
                                            <p>@Html.DisplayFor(modelBlogPost => blogPost.Created)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 post-body">
                                    <div class="row">
                                        <div class="col-md-12 text-left scroll-box-blog">
                                            @if (blogPost.MediaURL != null)
                                            {
                                                <div class="blog-img">
                                                    <img class="img-responsive blog-pic" src="@blogPost.MediaURL" alt="" />
                                                </div>
                                            }
                                            @Html.Raw(blogPost.Body)
                                        </div>
                                    </div>
                                    <div class="click-to-read">
                                        <h5>Click to read full post</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))

        <section class="text-center">
            <a href='@Url.Action("Index", "Home")' class="btn btn-default"><i class="fa fa-chevron-circle-left"></i> Back</a>
        </section>

        <div class="back-to-top">
            <a href="#page-top" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-up animated"></i>
            </a>
        </div>
    </section>
</body>
</html>
