@model Personal_MVC_site.Models.BlogPost

@{
    ViewBag.Title = "Blog Post";
}

@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}

<div class="container">

    <h2 class="text-center topspace">@Html.DisplayFor(modelBlogPost => Model.Title)</h2>
    <p class="text-center">@Html.DisplayFor(model => model.Created)</p>
    <hr />
    <div class="row">
        <div class="col-md-6 text-left">
            @Html.Raw(Model.Body)
        </div>
        <div class="col-md-6 post-img">
            @if (Model.MediaURL != null)
            {
                <img class="img-responsive" src="@Model.MediaURL" />
            }
        </div>
    </div>


    <section class="text-center">
        <ul class="list-inline center-block">
            <li>
                <a href='@Url.Action("Blog")' class="btn btn-default">Back</a>
            </li>
            <li>
                <a href='@Url.Action("Create", "Comments", new { id = Model.Id })' class="btn btn-default">Comment</a>
            </li>
        </ul>
    </section>

</div>