@{
    ViewBag.Title = "Home Page";
}

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll top-nav" href="#page-top">
                <span class="light">Sam</span> Gray
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll top-nav" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll top-nav" href="#resume">Resumé</a>
                </li>
                <li>
                    <a class="page-scroll top-nav" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll top-nav" href="#contact">Contact</a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "BlogPosts")' class="page-scroll top-nav">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>


<!-- Intro Header -->
<header class="intro" id="page-top">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="brand-heading">Sam Gray</h1>
                    @*<span><img src="~/img/Sam.svg" class="headline-sam" height="70" /><img src="~/img/Gray.svg" class="headline-sam" height="70" /></span>*@
                    @*</div>*@
                    @*<div class="col-sm-8 col-sm-offset-2">*@
                    <p class="intro-text">Web Developer | Graphic Designer</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <img src="~/img/Profile.jpg" id="profile-pic" width="200" height="205" alt="Sam's Picture">
                </div>
                <br />
                <br />
                <h2>Let Me Introduce Myself</h2>
                <p>As a freelance graphic designer, one of the most common questions that I hear from clients is “can you make a website for me?” Because of this, I've become interested in learning what it takes to design and build websites. What started as a simple curiosity has led me to enroll in Coder Foundry where I'm acquiring the skills necessary to launch my career in web development.</p>
                <p>At this point, I'm feeling very confident in my knowledge and abilities and I'm ready to begin meeting with IT recruiters. I'd love to have a position lined up for me to begin as soon as I complete the program at Coder Foundry.</p>
                <p id="resume">As always, I'm still available to take some freelance jobs on the side.</p>
                <p>Let me put my skills to work for you today!</p>
                <section>
                    <a href="~/img/Sam Gray Resume 2017.pdf" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-file-text"></i> Print My Resumé</a>
                </section>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="container content-section text-center portfolio-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>My Portfolio</h2>
                <p>Over the course of the next few months, I'll be completing some of my first dynamic web applications for Coder Foundry as well as some of my own projects. I'll be posting links to everything that I create so stay tuned!</p>
            </div>
        </div>
    </section>

    <!-- Portfolio Tiles -->
    <section class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-xs-6">
                    <a href=http://sgray-ecommerce.azurewebsites.net/ target="_blank" class="portfolio-box">
                        <img src="~/img/portfolio-thumbnails/Watch Gears 03.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Project
                                </div>
                                <div class="project-name">
                                    e-Commerce Shopping Cart
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <a href='@Url.Action("GDGallery")' class="portfolio-box">
                        <img src="~/img/portfolio-thumbnails/SG-card.jpg" class="img-responsive" alt="Stack of SGcreative Business Cards">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Gallery
                                </div>
                                <div class="project-name">
                                    Graphic Design
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <a href='@Url.Action("ComingSoon")' class="portfolio-box">
                        <img src="~/img/portfolio-thumbnails/Add-Machine.jpg" class="img-responsive" alt="Antique Adding Machine">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Project
                                </div>
                                <div class="project-name">
                                    Financial Portal
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <a href='@Url.Action("Index", "BlogPosts")' class="portfolio-box">
                        <img src="~/img/portfolio-thumbnails/Pen.jpg" class="img-responsive" alt="Diary and Fountain Pen">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog
                                </div>
                                <div class="project-name">
                                    Becoming a Developer
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <a href='@Url.Action("ComingSoon")' class="portfolio-box">
                        <img src="~/img/portfolio-thumbnails/Bug.jpg" class="img-responsive" alt="Beetle with Person Looking Through Magnifying Glass">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Project
                                </div>
                                <div class="project-name">
                                    Bug Tracker
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <a href='@Url.Action("Numbers")' class="portfolio-box" target="_blank">
                        <img src="~/img/portfolio-thumbnails/1.jpg" class="img-responsive" alt="Desktop with Random Items">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Project
                                </div>
                                <div class="project-name">
                                    JavaScript & C# Applications
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me Today</h2>
                <p>Please, feel free to shoot me a text or email anytime. Or, if you'd prefer, you can drop me a line during normal business hours.</p>
                <p id="ph"><a href="tel:704-877-4313"><i class="fa fa-phone"></i> 704.877.4313</a></p>
                <p>
                    <a href="mailto:sam@sgcreative.net"><i class="fa fa-envelope"></i> Sam@SGcreative.net</a>
                </p>
                <p>
                    <a href='@Url.Action("Contact", "Home")'><i class="fa fa-envelope"></i> Use My Contact Form</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.linkedin.com/in/sam-gray-2408922b/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/sambones80" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/sgcreativefreelancedesign/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>

                <ul class="list-inline banner-social-buttons-sm">
                    <li>
                        <a href="https://www.linkedin.com/in/sam-gray-2408922b/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a href="https://github.com/sambones80" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/sgcreativefreelancedesign/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#page-top" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-up animated"></i>
            </a>
        </div>
    </section>


