@model Bug_Tracker.Models.ApplicationUser

@{
    ViewBag.Title = "Account Management";
}

<h2>@ViewBag.Title.</h2>

    <h4>Update your information.</h4>
    <hr />

@*<div>
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

    </dl>
</div>*@

<ul class="list-inline">
    <li>
        <a href="@Url.Action("ChangeName", "Manage")" class="btn btn-primary"> <i class="fa fa-user"></i> Change Name</a>
    </li>
    <li>
        <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-primary"> <i class="fa fa-key"></i> Change Password</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Home")" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancel</a>
    </li>
</ul>