@using Microsoft.AspNet.Identity
@model Bug_Tracker.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@if (Request.IsAuthenticated)
{
    // Admin Quad-List w/Ticket Submission
    if ((User.IsInRole("Admin")) || User.IsInRole("Project Manager"))
    {
        <h3>Projects</h3>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#assignProj" data-toggle="tab">Assigned</a></li>
            <li><a href="#unAssProj" data-toggle="tab">Unassigned</a></li>
        </ul>
        <br />
        <div class="tab-content">
            <div class="tab-pane fade in active" id="assignProj">

                <table class="table">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Active Tickets
                        </th>
                        <th>
                            Assigned Users
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
                    {
                        if (item.Deleted == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Body)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @foreach (var tickets in item.Tickets)
                                    {
                                        @tickets.Title
                                        <br />
                                    }
                                </td>
                                <td>
                                    @foreach (var projectUser in item.Users)
                                    {
                                        @projectUser.DisplayName
                                        <br />
                                    }
                                </td>
                                <td>
                                    <div class="btn-group-vertical">
                                        @if (User.IsInRole("Submitter"))
                                        {
                                            <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-sm btn-success"><i class="fa fa-bug"></i></a>
                                        }
                                        <a href='@Url.Action("Assign", "Projects", new { id = item.Id })' class="btn btn-sm btn-primary"><i class="fa fa-user"></i></a>
                                        <a href='@Url.Action("Edit", "Projects", new { id = item.Id })' class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
                                        <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-sm btn-info"><i class="fa fa-info"></i></a>
                                        <a href='@Url.Action("Delete", "Projects", new { id = item.Id })' class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <div class="tab-pane fade in" id="unAssProj">
                <table class="table">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Active Tickets
                        </th>
                        <th>
                            Assigned Users
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.IrrelevantProjects)
                    {
                        if (item.Deleted == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Body)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @foreach (var tickets in item.Tickets)
                                    {
                                        @tickets.Title
                                        <br />
                                    }
                                </td>
                                <td>
                                    @foreach (var projectUser in item.Users)
                                    {
                                        @projectUser.DisplayName
                                        <br />
                                    }
                                </td>
                                <td>
                                    <div class="btn-group-vertical">
                                        @if (User.IsInRole("Submitter"))
                                        {
                                            <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-sm btn-success"><i class="fa fa-bug"></i></a>
                                        }
                                        <a href='@Url.Action("Assign", "Projects", new { id = item.Id })' class="btn btn-sm btn-primary"><i class="fa fa-user"></i></a>
                                        <a href='@Url.Action("Edit", "Projects", new { id = item.Id })' class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
                                        <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-sm btn-info"><i class="fa fa-info"></i></a>
                                        <a href='@Url.Action("Delete", "Projects", new { id = item.Id })' class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-6">*@
        <h3>Tickets</h3>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#assignTick" data-toggle="tab">Assigned</a></li>
            <li><a href="#unAssTick" data-toggle="tab">Unassigned</a></li>
        </ul>
        <br />

        <div class="tab-content">
            <div class="tab-pane fade in active" id="assignTick">

                <table class="table">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Project
                        </th>
                        <th>
                            Assigned to
                        </th>
                    </tr>

                    @if (Model != null)
                    {
                        foreach (var item in Model.RelevantTickets.OrderBy(t => t.Title))
                        {
                            if (item.Deleted == false)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Body)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Created)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Status.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Priority.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Project.Title)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>

            <div class="tab-pane fade in" id="unAssTick">

                <table class="table">

                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Project
                        </th>
                        <th>
                            Assigned to
                        </th>
                    </tr>

                    @if (Model != null)
                    {
                        foreach (var item in Model.IrrelevantTickets)
                        {
                            if (item.Deleted == false)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Body)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Created)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Status.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Priority.Name)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Project.Title)</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    }
    // End Admin Quad-List ^^^^^^^^^^^^^^^

    // Submitter 2 Lists
    if (User.IsInRole("Submitter") && (!User.IsInRole("Admin") && !User.IsInRole("Project Manager")))
    {
        <h3>Assigned Projects sub</h3>

        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Created
                </th>
                <th>
                    Active Tickets
                </th>
                <th>
                    Assigned Users
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
            {
                if (item.Deleted == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @foreach (var tickets in item.Tickets)
                            {
                                @tickets.Title
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var projectUser in item.Users)
                            {
                                @projectUser.DisplayName
                                <br />
                            }
                        </td>
                        <td>
                            @Html.ActionLink(linkText: "New Ticket", actionName: "Create", controllerName: "Tickets", routeValues: new { id = item.Id }, htmlAttributes: "") |
                            @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Projects", routeValues: new { id = item.Id }, htmlAttributes: "")
                        </td>
                    </tr>
                }
            }
        </table>

            <h3>Assigned Tickets sub</h3>

            <table class="table">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Assigned to
                    </th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model.RelevantTickets.OrderBy(t => t.Title))
                    {
                        if (item.Deleted == false)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Body)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
    }
    // End Submitter 2 Lists ^^^^^^^^^^^^^

    // Developer 2 Lists
    if (User.IsInRole("Developer") && (!User.IsInRole("Admin") && !User.IsInRole("Project Manager")))
    {
        <h3>Assigned Projects dev</h3>

        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Created
                </th>
                <th>
                    Active Tickets
                </th>
                <th>
                    Assigned Users
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
            {
                if (item.Deleted == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @foreach (var tickets in item.Tickets)
                            {
                                @tickets.Title
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var projectUser in item.Users)
                            {
                                @projectUser.DisplayName
                                <br />
                            }
                        </td>
                        <td>
                            @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Projects", routeValues: new { id = item.Id }, htmlAttributes: "")
                        </td>
                    </tr>
                }
            }
        </table>

        <h3>Assigned Tickets dev</h3>

            <table class="table">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Assigned to
                    </th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model.RelevantTickets.OrderBy(t => t.Title))
                    {
                        if (item.Deleted == false)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Body)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
    }
    // End Developer 2 Lists ^^^^^^^^^^^^^
}