@using Microsoft.AspNet.Identity
@model Bug_Tracker.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@if (Request.IsAuthenticated)
{
    // Admin & PM Tabbed-Lists
    if ((User.IsInRole("Admin")) || User.IsInRole("Project Manager"))
    {
        <ul class="nav nav-tabs">
            <li class="active"><a href="#assignProj" data-toggle="tab"><strong>Assigned Projects</strong></a></li>
            <li><a href="#unAssProj" data-toggle="tab"><strong>Unassigned Projects</strong></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="assignProj">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Projects Assigned to @User.Identity.Name
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-assignProj">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-4">Description <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
                                            {
                                                if (item.Deleted == false)
                                                {
                                                    <tr>
                                                        <td class="col-sm-2">
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td class="col-sm-4">
                                                            @Html.DisplayFor(modelItem => item.Body)
                                                        </td>
                                                        <td class="col-sm-1">
                                                            @Html.DisplayFor(modelItem => item.Created)
                                                        </td>
                                                        <td class="col-sm-2">
                                                            @foreach (var tickets in item.Tickets)
                                                            {
                                                                @tickets.Title
                                                                <br />
                                                            }
                                                        </td>
                                                        <td class="col-sm-2">
                                                            @foreach (var projectUser in item.Users)
                                                            {
                                                                @projectUser.DisplayName
                                                                <br />
                                                            }
                                                        </td>
                                                        <td class="col-sm-1">
                                                            <div>
                                                                @if (User.IsInRole("Submitter"))
                                                                {
                                                                    <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-block btn-sm btn-success"><i class="fa fa-bug"></i> Ticket</a>
                                                                }
                                                                <a href='@Url.Action("Assign", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-primary"><i class="fa fa-user"></i> Assign</a>
                                                                <a href='@Url.Action("Edit", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                                                                <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-info"><i class="fa fa-info"></i> Details</a>
                                                                <a href='@Url.Action("Delete", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-danger"><i class="fa fa-trash"></i> Archive</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                            @*<tr class="odd gradeX">
                                                    <td>Trident</td>
                                                    <td>Internet Explorer 4.0</td>
                                                    <td>Win 95+</td>
                                                    <td class="center">4</td>
                                                    <td class="center">X</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="unAssProj">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Projects Assigned to Other Users
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-unAssProj">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-5">Description <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.IrrelevantProjects.OrderBy(p => p.Title))
                                            {
                                                if (item.Deleted == false)
                                                {
                                                    <tr>
                                                        <td class="col-sm-2">
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td class="col-sm-4">
                                                            @Html.DisplayFor(modelItem => item.Body)
                                                        </td>
                                                        <td class="col-sm-1">
                                                            @Html.DisplayFor(modelItem => item.Created)
                                                        </td>
                                                        <td class="col-sm-2">
                                                            @foreach (var tickets in item.Tickets)
                                                            {
                                                                @tickets.Title
                                                                <br />
                                                            }
                                                        </td>
                                                        <td class="col-sm-2">
                                                            @foreach (var projectUser in item.Users)
                                                            {
                                                                @projectUser.DisplayName
                                                                <br />
                                                            }
                                                        </td>
                                                        <td class="col-sm-1">
                                                            <div>
                                                                @if (User.IsInRole("Submitter"))
                                                                {
                                                                    <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-block btn-sm btn-success"><i class="fa fa-bug"></i> Ticket</a>
                                                                }
                                                                <a href='@Url.Action("Assign", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-primary"><i class="fa fa-user"></i> Assign</a>
                                                                <a href='@Url.Action("Edit", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                                                                <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-info"><i class="fa fa-info"></i> Details</a>
                                                                <a href='@Url.Action("Delete", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-danger"><i class="fa fa-trash"></i> Archive</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                            @*<tr class="odd gradeX">
                                                    <td>Trident</td>
                                                    <td>Internet Explorer 4.0</td>
                                                    <td>Win 95+</td>
                                                    <td class="center">4</td>
                                                    <td class="center">X</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-6">*@

        <ul class="nav nav-tabs">
            <li class="active"><a href="#assignTick" data-toggle="tab"><strong>Assigned Tickets</strong></a></li>
            <li><a href="#unAssTick" data-toggle="tab"><strong>Unassigned Tickets</strong></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="assignTick">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tickets Assigned to Developers
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-assignTick">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-3">Description <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Status <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Priority <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Project <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Assigned to <i class="fa fa-sort"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.RelevantTickets.OrderBy(t => t.Title))
                                                {
                                                    if (item.Deleted == false)
                                                    {
                                                        <tr>
                                                            <td class="col-sm-2">
                                                                <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                                            </td>
                                                            <td class="col-sm-3">
                                                                @Html.DisplayFor(modelItem => item.Body)
                                                            </td>
                                                            <td class="col-sm-1">
                                                                @Html.DisplayFor(modelItem => item.Created)
                                                            </td>
                                                            <td class="col-sm-1">
                                                                @Html.DisplayFor(modelItem => item.Status.Name)
                                                            </td>
                                                            <td class="col-sm-1">
                                                                @Html.DisplayFor(modelItem => item.Priority.Name)
                                                            </td>
                                                            <td class="col-sm-2">
                                                                @Html.DisplayFor(modelItem => item.Project.Title)
                                                            </td>
                                                            <td class="col-sm-2">
                                                                @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="unAssTick">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tickets That Need to be Assigned to Developers
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-unAssTick">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-3">Description <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Status <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-1">Priority <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Project <i class="fa fa-sort"></i></th>
                                                <th class="col-sm-2">Assigned to <i class="fa fa-sort"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model.IrrelevantTickets.OrderBy(t => t.Title))
                                                {
                                                    if (item.Deleted == false)
                                                    {
                                                        <tr>
                                                            <td class="col-sm-2">
                                                                <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                                            </td>
                                                            <td class="col-sm-3">
                                                                @Html.DisplayFor(modelItem => item.Body)
                                                            </td>
                                                            <td class="col-sm-1">
                                                                @Html.DisplayFor(modelItem => item.Created)
                                                            </td>
                                                            <td class="col-sm-1">
                                                                @Html.DisplayFor(modelItem => item.Status.Name)
                                                            </td>
                                                            <td class="col-sm-1">
                                                                @Html.DisplayFor(modelItem => item.Priority.Name)
                                                            </td>
                                                            <td class="col-sm-2">
                                                                @Html.DisplayFor(modelItem => item.Project.Title)
                                                            </td>
                                                            <td class="col-sm-2">
                                                                @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    // End Admin & PM Tabbed-Lists ^^^^^^^^^^^^^^^

    // Submitter 2 Lists
    if (User.IsInRole("Submitter") && (!User.IsInRole("Admin") && !User.IsInRole("Project Manager")))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Projects Assigned to @User.Identity.Name
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-subProjects">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-4">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
                                    {
                                        if (item.Deleted == false)
                                        {
                                            <tr>
                                                <td class="col-sm-2">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="col-sm-4">
                                                    @Html.DisplayFor(modelItem => item.Body)
                                                </td>
                                                <td class="col-sm-1">
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var tickets in item.Tickets)
                                                    {
                                                        @tickets.Title
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var projectUser in item.Users)
                                                    {
                                                        @projectUser.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-1">
                                                    <a href='@Url.Action("Create", "Tickets", new { id = item.Id })' class="btn btn-block btn-sm btn-success"><i class="fa fa-bug"></i> Ticket</a>
                                                    <a href='@Url.Action("Details", "Projects", new { id = item.Id })' class="btn btn-block btn-sm btn-info"><i class="fa fa-info"></i> Details</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tickets Assigned to @User.Identity.Name
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-subTickets">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-3">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Status <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Priority <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Project <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned to <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                    {
                        foreach (var item in Model.RelevantTickets.OrderBy(t => t.Title))
                        {
                            if (item.Deleted == false)
                            {
                                                <tr>
                                                    <td class="col-sm-2">
                                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                                    </td>
                                                    <td class="col-sm-3">
                                                        @Html.DisplayFor(modelItem => item.Body)
                                                    </td>
                                                    <td class="col-sm-1">
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td class="col-sm-1">
                                                        @Html.DisplayFor(modelItem => item.Status.Name)
                                                    </td>
                                                    <td class="col-sm-1">
                                                        @Html.DisplayFor(modelItem => item.Priority.Name)
                                                    </td>
                                                    <td class="col-sm-2">
                                                        @Html.DisplayFor(modelItem => item.Project.Title)
                                                    </td>
                                                    <td class="col-sm-2">
                                                        @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    // End Submitter 2 Lists ^^^^^^^^^^^^^

    // Developer 2 Lists
    if (User.IsInRole("Developer") && (!User.IsInRole("Admin") && !User.IsInRole("Project Manager")))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Projects Assigned to @User.Identity.Name
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-devProjects">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-5">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Active Tickets <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned Users <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RelevantProjects.OrderBy(p => p.Title))
                    {
                        if (item.Deleted == false)
                        {
                                            <tr>
                                                <td class="col-sm-2 click">
                                                    <a href="@Url.Action("Details", "Projects", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                                </td>
                                                <td class="col-sm-5">
                                                    @Html.DisplayFor(modelItem => item.Body)
                                                </td>
                                                <td class="col-sm-1">
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var tickets in item.Tickets)
                                                    {
                                                        @tickets.Title
                                                        <br />
                                                    }
                                                </td>
                                                <td class="col-sm-2">
                                                    @foreach (var projectUser in item.Users)
                                                    {
                                                        @projectUser.DisplayName
                                                        <br />
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tickets Assigned to @User.Identity.Name
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-devTickets">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Title <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-3">Description <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Created <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Status <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-1">Priority <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Project <i class="fa fa-sort"></i></th>
                                        <th class="col-sm-2">Assigned to <i class="fa fa-sort"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                    {
                        foreach (var item in Model.RelevantTickets.OrderBy(t => t.Title))
                        {
                            if (item.Deleted == false)
                            {
                                                <tr>
                                                    <td class="col-sm-2">
                                                        <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
                                                    </td>
                                                    <td class="col-sm-3">
                                                        @Html.DisplayFor(modelItem => item.Body)
                                                    </td>
                                                    <td class="col-sm-1">
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                    </td>
                                                    <td class="col-sm-1">
                                                        @Html.DisplayFor(modelItem => item.Status.Name)
                                                    </td>
                                                    <td class="col-sm-1">
                                                        @Html.DisplayFor(modelItem => item.Priority.Name)
                                                    </td>
                                                    <td class="col-sm-2">
                                                        @Html.DisplayFor(modelItem => item.Project.Title)
                                                    </td>
                                                    <td class="col-sm-2">
                                                        @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    // End Developer 2 Lists ^^^^^^^^^^^^^
}

                                    <script src="Template/assets/js/jquery-1.10.2.js"></script>
                                    <!-- Bootstrap Js -->
                                    <script src="Template/assets/js/bootstrap.min.js"></script>
                                    <!-- Metis Menu Js -->
                                    <script src="assets/js/jquery.metisMenu.js"></script>
                                    <!-- DATA TABLE SCRIPTS -->
                                    <script src="Template/assets/js/dataTables/jquery.dataTables.js"></script>
                                    <script src="Template/assets/js/dataTables/dataTables.bootstrap.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            $('#dataTables-assignProj').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-unAssProj').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-assignTick').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-unAssTick').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-subProjects').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-subTickets').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-devProjects').dataTable();
                                        });
                                        $(document).ready(function () {
                                            $('#dataTables-devTickets').dataTable();
                                        });
                                    </script>
                                    <!-- Custom Js -->
                                    <script src="Template/assets/js/custom-scripts.js"></script>
