@using Budgeter.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="well well-lg well-topspace">
            <h2 class="text-center">@ViewBag.Title</h2>

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group login-form">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-textbox", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group login-form">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control login-textbox", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="col-sm-offset-4 col-sm-8">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-sign-in"></i> Log In
                            </button>
                            <span class="divider"> | </span>
                            @Html.ActionLink("Register", "Register") <span class="divider"> | </span>
                            @Html.ActionLink("Forgot Password", "ForgotPassword")
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}