@model Budgeter.Models.AssignUsersViewModel

@{
    ViewBag.Title = "Manage Users";
}

<br />

<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <div class="well well-lg well-topspace">
            <h2>@Model.Household.Name Users</h2>
            @foreach (var user in Model.SelectedUsers)
            {
                <hr />
                <div class="col-sm-12">
                    <p>
                        @user.DisplayName <span class="divider"> | </span>
                        @Html.ActionLink("Remove User", "UnAssign", "Households", new { householdId = Model.Household.Id, userId = user.Id }, "")
                    </p>
                </div>
            }
            <p>
                @Html.ActionLink("Back", "Details", "Households", new { Id = Model.Household.Id }, "")
            </p>
        </div>
    </div>
</div>


@*@using (Html.BeginForm("Assign", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <h3>Assign to:</h3>
        @Html.HiddenFor(model => model.Household.Id, new { })
        <br />
        <form>
            <div class="form-group">
                <label>Assign to:</label>
                @Html.ListBox("SelectedUsers", Model.Users, htmlAttributes: new { @class = "form-control", id = "mySelect", size = "20" })
            </div>
        </form>
        <ul class="list-inline">
            <li>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
            </li>
            <li>
                @Html.ActionLink("Back to List", "Details", new { id = Model.Household.Id })
            </li>
        </ul>
    </div>
}*@