@model Budgeter.Models.HouseholdViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    int count = 0;
    Layout = "~/Views/Shared/_Layout - Household.cshtml";
}

<div class="lower-nav">
    @{
        var userId = User.Identity.GetUserId();

        if (userId == Model.household.CreatedById)
        {
            @Html.ActionLink("Invite", "Create", "Invites", new { id = Model.household.Id }, new { })<span>|</span>
            @Html.ActionLink("Manage Users", "Assign", "Households", new { id = Model.household.Id }, new { })<span>|</span>
            @Html.ActionLink("Edit", "Edit", new { id = Model.household.Id })<span>|</span>
        }
        if (userId == Model.household.CreatedById)
        {
            @Html.ActionLink("Delete Household", "Delete", "Households", new { id = Model.household.Id }, new { })<span>|</span>
        }
        else
        {
            @Html.ActionLink("Leave Household", "Leave", "Households", new { id = Model.household.Id }, new { })<span>|</span>
        }
    }
    @Html.ActionLink("My Other Households", "Index", "Home")
</div>

<h2 class="text-center">- @Model.household.Name -</h2>

<br />

<div class="row">
    <div class="col-md-3">
        <div class="form-horizontal">
            <div class="well well-lg">
                <h4>Bank Accounts</h4>
                @{
                    if (userId == Model.household.CreatedById)
                    {
                        @Html.ActionLink(linkText: "Add New Account", actionName: "Create", controllerName: "BankAccounts", routeValues: new { id = Model.household.Id }, htmlAttributes: "")
                    }
                    <hr />
                    <div class="form-group">
                        @foreach (var account in Model.household.BankAccounts.OrderBy(b => b.Name))
                        {
                            if (account.Deleted != true)
                            {
                                <div class="col-md-12">
                                    @*<small>by: </small>*@
                                    <span class="badge">
                                        @account.Name
                                    </span>
                                    @if (account.Balance <= 0)
                                    {
                                        <p class="text-danger">Balance: @Html.DisplayFor(modelItem => account.Balance)</p>
                                    }
                                    else
                                    {
                                        <p class="text-success">Balance: @Html.DisplayFor(modelItem => account.Balance)</p>
                                    }
                                    <a href="@Url.Action("Deposit", "Transactions", new { householdId = Model.household.Id, accountId = account.Id })" class="btn btn-default btn-small"><i class="fa fa-money"></i> Deposit</a>
                                    @if (userId == Model.household.CreatedById)
                                    {
                                        <span class="divider">|</span> @Html.ActionLink(linkText: "Edit Account", actionName: "Edit", controllerName: "BankAccounts", routeValues: new { householdId = Model.household.Id, accountId = account.Id }, htmlAttributes: "")
                                    }
                                    <hr />
                                </div>
                            }
                        }
                    </div>
                    <div>
                        <span class="badge">
                            Total of All Accounts
                        </span>
                        @if (Model.household.Total <= 0)
                        {
                            <p class="text-danger">Balance: @Html.DisplayFor(modelItem => Model.household.Total)</p>
                        }
                        else
                        {
                            <p class="text-success">Balance: @Html.DisplayFor(modelItem => Model.household.Total)</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (ViewBag.OverdraftError != null)
        {
            <p class="text-danger text-center">
                <strong>WARNING, </strong>@ViewBag.OverdraftError
            </p>
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                Transactions
            </div>
            <div class="panel-body">
                <a href="@Url.Action("Create", "Transactions", new { householdId = Model.household.Id })" class="btn btn-default btn-block"><i class="fa fa-shopping-cart"></i> Add Transaction</a>
                <br />
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-transactions">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Payee</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.household.BankAccounts)
                            {
                                foreach (var transaction in item.Transactions.OrderByDescending(t => t.Created))
                                {
                                    if (transaction.Deleted != true)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => transaction.BankAccount.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => transaction.Category.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => transaction.Payee)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => transaction.Created)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => transaction.Amount)
                                            </td>
                                            <td>
                                                @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Transactions", routeValues: new { householdId = Model.household.Id, transactionId = transaction.Id }, htmlAttributes: "") |
                                                @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Transactions", routeValues: new { householdId = Model.household.Id, transactionId = transaction.Id }, htmlAttributes: "")
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-horizontal">
            <div class="well well-lg">
                <h4>Household Budget</h4>
                @foreach (var budget in Model.household.Budgets.OrderBy(b => b.Name))
                {
                    @Html.ActionLink(linkText: "Add Budget Item", actionName: "Create", controllerName: "Items", routeValues: new { householdId = Model.household.Id, budgetId = budget.Id }, htmlAttributes: "")
                    <p>
                        Total Budget: @Html.DisplayFor(modelItem => Model.household.TotalBudget)
                    </p>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            @foreach (var item in budget.Items)
                            {
                                for (int i = count; i < Model.CategoryCount; i++)
                                {
                                    if (Model.CategoryCount != 0)
                                    {
                                        <p>
                                            @Html.DisplayFor(ModelItem => item.Category.Name): $@Html.DisplayFor(Model => Model.CategoryTotals[i]) of @Html.DisplayFor(ModelItem => item.Amount)
                                        </p>

                                        var value = 100 * Model.CategoryTotals[i] / item.Amount;
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@value"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:@value%">
                                            </div>
                                        </div>
                                        break;
                                    }
                                }
                                count++;
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- DATA TABLE SCRIPTS -->
<script src="~/Template/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="~/Template/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="~/assets/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="~/Template/assets/js/dataTables/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-transactions').dataTable();
    });
</script>
<!-- Custom Js -->
<script src="~/Template/assets/js/custom-scripts.js"></script>